# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mengabaikan folder dependency
node_modules/
dist/
.next/
out/

# Mengabaikan file rahasia lingkungan (Environment Variables)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mengabaikan file log sistem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store